* {
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    border: 20px solid black;
}

.head {
    background-color:rgb(226, 226, 226);
    font-weight: 800;
    padding: 40px;
    text-transform: uppercase;
    text-align: center;
}

.head-title {
    background-color:rgb(226, 226, 226);
    font-style: italic;
    font-size: larger;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
}

.nav-bar {
    background-color:rgb(226, 226, 226);
    text-align: center;
    width: 100%;
}

.nav-bar ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 60px;
}

li a {
    color: black;
    text-decoration: none;
}

.image img {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    border-radius: 30px;
}

.articles {
    padding: 30px;
    margin-top: 50px;
    line-height:150%
    
}

.article h2 {
    text-align: center;
    padding-bottom: 20px;
}

.article {
    background-color:rgb(216, 216, 216);
    border: 2px solid rgb(181, 181, 181);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.image-article img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.first-article, .second-article, .third-article, .forth-article, .fivth-article{
    margin: 3%;
}

.video {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 315PX;
}

.footer {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}