ol {
    background-color: yellow;
}
ol li:nth-of-type(2n) {
    color: green;
}
ol li:nth-of-type(2n+1) {
    text-transform: capitalize;
}
h1, h2, h3, h4, h5 {
    color: red;
}
h1 {
    font-size: 40px;
    border: 1px solid black;
}
li {
    font-size: 20px;
}
li em {
    font-weight: bold;
}
.list-1 li:nth-of-type(1){
    color: blue
}
.list-1 li:nth-of-type(2){
    background-color: pink;
    color: blue
}
.list-1 li:nth-of-type(3){
    background-color: pink;
    color: blue
}
a{
    text-decoration: none;
    color: black;
}
ul li:nth-of-type(1):hover a{
    font-weight: bold;
    color: orange;
}
ul li:nth-of-type(2):hover a{
    font-weight: bold;
    color: green;
}
ul li:nth-of-type(3):hover a{
    font-weight: bold;
    color: black;
}
ul li:nth-of-type(4):hover a{
    font-weight: bold;
    color: yellow;
}
ul li:nth-of-type(5):hover a{
    font-weight: bold;
    color: green;
}