h1 {
    color: darkorange;
    font-size: 65px;
    font-family: sans-serif;
  }
body {
    font-size: 16px;
    font-style: italic;
  }
.list-style {
    background-color: rgba(0, 206, 209, 0.485);
    line-height: 30px;
  }
#paragraph {
    font-weight: 600;
    font-size: 3em;
    line-height: 50px;
  }
#yellow {
    background-color: yellow;
  }
#red {
    background-color: red;
  }
#brown {
    background-color: brown;
  }