* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgb(65, 65, 65);
}

.header-img {
  width: 70px;
}

.sub-title-container {
  text-align: center;
  padding: 0.5cm;
  font-size: 20px;
}

.img-grid-container {
  display: flex;
  justify-content: center;
}

.line {
  display: flex;
  justify-content: center;
  padding: 0.5cm;
}

hr {
  width: 110px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 35%;
}

h4 {
  margin-bottom: 0.2cm;
}

.img-grid {
  text-align: center;
  background-color: rgb(238, 237, 237);
  box-shadow: 5px 5px 5px 2px rgb(183, 183, 183);
  border-radius: 15px;
  padding: 0.2cm;
  margin: 0.2cm 0.2cm;
}

.gallery-img {
  width: 150px;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}