.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 340px;
    left: 80px;
  }
  
  .baloon {
    position: absolute;
    left: 300px;
    z-index: 4;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 320px;
    top: 120px;
    z-index: 5;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 3;
    left: 580px;
    top: 200px;
  }