h1 {
    text-align: center;
  }

  .first {
    background-color: rgb(235, 200, 84);
    display: inline-block;
    font-size: 20px;
    height: 50px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    width: 200px;
  }

  .second {
    background-color: rgb(219, 219, 219);
    display: inline-block;
    font-size: 20px;
    height: 50px;
    margin-left: 25%;
    text-align: center;
    width: 300px;
  }

  .third {
    background-color: rgb(170, 142, 106);
    display: inline-block;
    font-size: 20px;
    height: 50px;
    margin-right: 25%;
    text-align: center;
    width: 300px;
  }

  .section-2 {
      text-align: center;
  }

  .section-2 ul li {
    list-style: none;
  }